body {
    background: linear-gradient(
        rgba(159, 187, 233, 0.45),
        rgba(159, 187, 233, 0.45)
    ), url(images/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.oj-web-applayout-header {
    color: #7CA9D8;
    font-size: 30px;
    font-weight: 600;
}

